__pycache__/
*.py[cod]
*$py.class
.Python
build_temp/
plugin.zip
*.egg-info/
dist/

.venv/
venv/
env/
ENV/
.env

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

linux/flutter/ephemeral/
windows/flutter/ephemeral/
macos/Flutter/ephemeral/
*.so
*.dylib
*.dll

.idea/
*.iml
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store
Thumbs.db
*~
*.swp